__pycache__/scripts_runner.cpython-35.pyc
__pycache__/fortwistPage.cpython-35.pyc
.gitignore
__pycache__/rabbitsPage.cpython-35.pyc
__pycache__/mockPage.cpython-35.pyc
__pycache__/helpers.cpython-35.pyc
__pycache__/torchPage.cpython-35.pyc
__pycache__/gamePage.cpython-35.pyc
__pycache__/drawPage.cpython-35.pyc
__pycache__/main.cpython-35.pyc
__pycache__/inProgressSteppedPage.cpython-35.pyc
__pycache__/inProgressPage.cpython-35.pyc
pages/__pycache__/drawPage.cpython-35.pyc
pages/__pycache__/gamePage.cpython-35.pyc
pages/__pycache__/inProgressPage.cpython-35.pyc
pages/__pycache__/inProgressSteppedPage.cpython-35.pyc
pages/__pycache__/mockPage.cpython-35.pyc
pages/__pycache__/rabbitsPage.cpython-35.pyc
pages/__pycache__/torchPage.cpython-35.pyc
pages/__pycache__/fortwistPage.cpython-35.pyc
__pycache__/requestMaker.cpython-35.pyc
__pycache__/checkRaspberriesConnectionPage.cpython-35.pyc
__pycache__/optionsPage.cpython-35.pyc
__pycache__/shapePage.cpython-35.pyc
__pycache__/parametersPage.cpython-35.pyc
__pycache__/Simulation.cpython-35.pyc
__pycache__/simulationPage.cpython-35.pyc
__pycache__/colors.cpython-35.pyc
__pycache__/colors.cpython-37.pyc
__pycache__/optionsPage.cpython-37.pyc
__pycache__/parametersPage.cpython-37.pyc
__pycache__/requestMaker.cpython-37.pyc
__pycache__/scripts_runner.cpython-37.pyc
__pycache__/shapePage.cpython-37.pyc
__pycache__/inProgressPage.cpython-37.pyc
__pycache__/inProgressPage.cpython-37.pyc
